<% content_for :class, "calendar" %>

<%= form_for @calendar, :html => {:multipart => true} do |f| %>
<div class="clearfix">
  	<% @calendar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>	
  
  <div class="contenerCal one">
    <%= f.label :name, "Titre" %><br />
    <%= f.text_field :name, :value => current_user.company.downcase.tr(" ", "_")+"_"+Date.today.to_s, :class => 'input-xlarge' %>
  </div>
	
	<div class="contenerCal two">
  	<%= f.label :name, "Thème" %><br />
  	<div class="twoone">
  		<h3 >Télécharger le calendrier et le thème du mois</h3>
  		<%= link_to(image_tag('visu1_small.jpg'), root_path) %>
  	</div>
  	<div class="twotwo">
  		<h3 >télécharger uniquement le visuel</h3>
  		<%= link_to(image_tag('visu1_xsmall.jpg'), root_path) %>
  	</div>
  	
	</div>

  <div class="contenerCal three">
  	<div class="notob">[Pas obligatoire]</div>
  	<%= f.label :logo, "Insérer mon logo" %><br />
  	<%if @calendar.logo.medium != 'medium_default.png' %>
  	<div>
  		<%= image_tag(@calendar.logo.medium.to_s) %>
  	</div>
  	<%end%>
  	<%= f.file_field :logo %> 
  	
  </div>

  <div class="contenerCal four">
  	<div class="notob">[Pas obligatoire]</div>
    <%= f.label :description, 'Editer le contenu proposé' %><br />
     <% if @calendar.description.nil?
    	@calendar.description = "<b>Pour préserver notre emploi, nous devons satisfaire le client.</b><br> C’est vital pour la survie de l'entreprise. Sans lui, pas de travail. <br>Et sans travail, pas d'emploi. Nous devons être capables d'adapter notre comportement, voire même notre manière de fonctionner.<br>Parce que nous sommes au service du client. Pas l'inverse. <br><b>Mon emploi en dépend !</b>"
    	end	
    %>
    <%= f.text_area :description,:rows => 10, :class => "wysihtml5" %>
    <p>L’entreprise accepte l’entière responsabilité du texte éditer ci-dessus.</p>
  </div>

  <div class="contenerCal five">	
  		<%= f.label :events, "Ajouter vos évenements" %><br>
	<%= f.fields_for :events do |builder| %>
	  <%= render 'event_fields', :f => builder %>
	<% end %>
	
    <p class="adding"><%= link_to_add_fields "Ajouter un évènement", f, :events %></p>
  </div>  
  <%= f.hidden_field :user_id %>
  <div><%= f.submit "Enregistrer", :class => "button_submit" %></div>
<% end %>
