<% content_for :class, "calendar" %>

<%= form_for @calendar, :html => {:multipart => true} do |f| %>
<div class="clearfix">
  	<% @calendar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>	
  
  <div class="contenerCal one">
    <%= f.label :name, "Titre" %><br />
    <%= f.text_field :name, :value => current_user.company.downcase.tr(" ", "_")+"_"+Date.today.to_s, :class => 'input-xlarge' %>
  </div>
	
	<div class="contenerCal two">
  	<%= f.label :name, "Thème" %><br />
  	<div class="twoone">
  		<h3 >Télécharger le calendrier et le thème du mois</h3>
  		<%= image_tag('visu1_small.jpg') %>
  	</div>
  	<div class="twotwo">
  		<h3 >télécharger uniquement le visuel</h3>
  	</div>
  	
	</div>

  <div class="contenerCal three">
  	<%= f.label :logo, "Insérer mon logo" %> <span>(110x100 pixels)</span><br />
  	<%= f.file_field :logo %>
  </div>

  <div class="contenerCal four">
    <%= f.label :description, 'Editer le contenu texte proposé' %><br />
     <% if @calendar.description.nil?
    	@calendar.description = "<b>Pour préserver notre emploi, nous devons satisfaire le client.</b><br> C’est vital pour la survie de l'entreprise. Sans lui, pas de travail. Et sans travail, pas d'emploi. Nous devons être capables d'adapter notre comportement, voire même notre manière de fonctionner.Parce que nous sommes au service du client. Pas l'inverse. <br><b>Mon emploi en dépend !</b>"
    	end	
    %>
    <%= f.text_area :description, :class => "wysihtml5" %>
  </div>

  <div class="contenerCal five">	
  		<%= f.label :events, "Ajouter vos évenements" %><br>
	<%= f.fields_for :events do |builder| %>
	  <%= render 'event_fields', :f => builder %>
	<% end %>
	
    <p><%= link_to_add_fields "Ajouter un évènement", f, :events %></p>
  </div>  
  <%= f.hidden_field :user_id %>
  <div><%= f.submit "Enregistrer", :class => "button_submit" %></div>
<% end %>
