<ul id="archive">
  <% for calendar in @calendars %>
    <li>
<b><%= calendar.name %></b><br>      
<%= image_tag('visu1_small.jpg') %>
<p class="actions"><%= link_to "Modifier", edit_calendar_path(calendar) %> - <%= link_to "Exporter", calendar_path(calendar, :format => "pdf") %><hr>
    </li>
  <% end %>

</ul>
<p align="center"><%= link_to "Nouveau calendrier", new_calendar_path, :class => "purple button_submit" %></p>
