<%
# encoding: utf-8
%>
<%= wicked_pdf_stylesheet_link_tag "documents" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300,900' rel='stylesheet' type='text/css'>
<div class="documentPoster">
    <%= image_tag("http://www.cible.be/assets/1_poster.jpg", :width => "100%") %>
    <div id="bannerPoster"> 
    	<table width="100%;">
    		<tr>
    			<td align="left" valign="top" class="description"><%=@calendar.description.html_safe%></td>
    			<td width='180' align="right">
    				<% if @calendar.logo.medium.to_s != "medium_logono.gif" %>
    				 	<%= image_tag(@calendar.logo.medium.to_s, :width => "175") %>
    				<%end%>
    			</td>
    		</tr>
    	</table>	
    </div>
<%= image_tag("http://www.cible.be/assets/footer1.jpg", :width => "100%") %>
</div>
