
<%
# encoding: utf-8
%>
<%= wicked_pdf_stylesheet_link_tag "documents" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300,900' rel='stylesheet' type='text/css'>
<div class="document">
    <%= wicked_pdf_image_tag("1.jpg", :width => "100%") %>
    <!--http://static3.7sur7.be/static/photo/2012/16/1/6/20120108165813/media_xll_4554981.jpg-->
    <div id="banner"> 
    	<table width="100%;">
    		<tr>
    			<td width='220'><%= image_tag(@calendar.logo.medium.to_s, :width => "160") %></td>
    			<td align="right" valign="top" class="description"><%=@calendar.description.html_safe%></td>
    		</tr>
    	</table>	
    </div>
    <%= wicked_pdf_image_tag("separator.jpg", :width => "100%") %>
    <h1>Janvier</h1>
    <%= wicked_pdf_image_tag("separator.jpg", :width => "100%") %>
    <table id="calendar" cellspacing="10">
	<tr>
	   <th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th> <th>Vendredi</th><th>Samedi</th><th>Dimanche</th>
	</tr>
	<tr>
		<% @beginning_of_month = Date.civil(2013, 1, 1) %>
		<% @end_of_month = Date.civil(2013, 1, -1) %>
		<% (@beginning_of_month..@end_of_month).each do |d| %>
		<% if d == @beginning_of_month %>
		<% @wdays = d.wday-1 %>
			<% @wdays.times do %> 
				<td class="offset"></td> 
			<% end %>
		<% end %>
		<% if d.wday == 1 %> </tr><tr> <% end %>
		<td 
		<% if d.strftime('%a') == 'Sun' || d.strftime('%a') == 'Sat' %>
		class="off"
		<%end%>
		> <%= d.day %>
			<% @calendar.events.each do |e| %>
			<% @myday = e.datee.strftime('%e').gsub(/\s+/, "") %>
				<% if @myday == d.day.to_s %>
				 	<div><%= e.name %></div>
				<%end%>
			<%end%>	
	    </td>
		<% end %>
	</tr>
</table>
<%= wicked_pdf_image_tag("footer1.jpg", :width => "100%") %>
</div>
