
<%
# encoding: utf-8
 content_for :js do %>
<%= javascript_include_tag "fullcalendar.min" %>
<%end%>
<%= wicked_pdf_stylesheet_link_tag "documents" %>
<html>
	<body>
<div class="document">
    <%= image_tag("http://agoria.herokuapp.com/assets/1.jpg", :width => "100%") %>
    <!--http://static3.7sur7.be/static/photo/2012/16/1/6/20120108165813/media_xll_4554981.jpg-->
    <div id="banner"> 
    	<table width="100%;">
    		<tr>
    			<td width='25%'><%= image_tag(@calendar.logo.medium.to_s) %></td>
    			<td align="right" valign="top" style="color:#fff;font-size:18px !important;"><%=@calendar.description.html_safe%></td>
    		</tr>
    	</table>	
    </div>
    <%= image_tag("http://agoria.herokuapp.com/assets/separator.jpg", :width => "100%") %>
    <h1>Janvier</h1>
    <%= image_tag("http://agoria.herokuapp.com/assets/separator.jpg", :width => "100%") %>
    <table id="calendar" cellspacing="10">
	<tr>
	   <th>Lundi</th><th>Mardi</th><th>Mercredi</th><th>Jeudi</th> <th>Vendredi</th><th>Samedi</th><th>Dimanche</th>
	</tr>
	<tr>
		<% @beginning_of_month = Date.civil(2013, 1, 1) %>
		<% @end_of_month = Date.civil(2013, 1, -1) %>
		<% (@beginning_of_month..@end_of_month).each do |d| %>
		<% if d == @beginning_of_month %>
			<% d.wday.times do %> 
				<td class="offset"></td> 
			<% end %>
		<% end %>
		<% if d.wday == 0 %> </tr><tr> <% end %>
		<td> <%= d.day %>
			<% @calendar.events.each do |e| %>
			<% @myday = e.datee.strftime('%d') %>
				<% if @myday == d.day.to_s %>
				 	<div><%= e.name %></div>
				<%end%>
			<%end%>	
	    </td>
		<% end %>
	</tr>
</table>
<%= image_tag("http://agoria.herokuapp.com/assets/footer1.jpg", :width => "100%") %>
</div>
</body>
</html>