<div id="topLinks" class="clearfix">
	<ul id="toolsLinks" class="topLinker">
		<li class="home"><%= link_to image_tag("home.png"),root_path %></li>
		<% if user_signed_in? %>
			<li><%= link_to "Archives", calendars_path %></li>
		<% end %>	
	</ul>
	
	<ul id="connectionLinks" class="topLinker">
		<% if user_signed_in? %>
			<li class="userLink childer"><span>Hello</span> <%= link_to(current_user.firstname+' '+current_user.lastname+' !', '/users/edit', :class => 'purple') %> / <%= link_to('Se déconnecter', '/users/sign_out', :method=>'delete') %></li>
		<% else %>
			<li><%= link_to('S\'inscrire', new_user_registration_path)  %></li>
			<li><%= link_to('Se connecter', new_user_session_path)  %> </li>
		<% end %>
	</ul>		
	
</div>